@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? família=Paixão+One&display=swap');

@import url('https://fonts.googleapis.com/css2?display=swap');

:root {
    --font1: Verdana, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    
}

html, body {
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgray;
}

header {
    text-align: center;
    background-color: black;
    color: white;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 8vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(85, 107, 47, 0.671);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.568);
    background-attachment: fixed;
    background-size: cover;
}

section.imagem > p {
    display: inline-block;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}